/* Página de Favoritos */
.favorites-page {
  padding: 2rem;
  text-align: center;
  background-color: #00509e; /* Fondo azul */
}

.favorites-page h1 {
  color: #ffa500; /* Título en naranja */
  font-size: 2rem;
}

.favorites-page ul {
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
}

.favorites-page li {
  margin: 0.8rem 0;
  font-size: 1.2rem;
  color: #ffffff; /* Texto general en blanco */
}

.favorites-page li span {
  color: #ffa500; /* Texto en cursiva naranja */
  font-style: italic;
}

.favorites-page li:hover {
  color: #ffa500; /* Cambia a naranja al pasar el mouse */
  cursor: pointer;
  font-weight: bold;
}
