/* Página de Partidos */
.partidos-page {
  padding: 2rem;
  text-align: center;
  background-color: #e6f7ff; /* Fondo azul claro */
}

.partidos-page h1 {
  color: #ffa500; /* Naranja */
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

/* Contenedor de los partidos */
.partidos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Diseño responsivo */
  gap: 20px;
  justify-items: center; /* Centrar las tarjetas en las celdas */
}

/* Tarjeta de partido */
.partido-card {
  background-color: #00509e; /* Fondo azul oscuro */
  border: none;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  max-width: 300px;
  width: 100%; /* Ocupa todo el ancho disponible en la celda */
  transition: transform 0.3s, box-shadow 0.3s;
}

.partido-card h2 {
  font-size: 1.5rem;
  color: #ffa500; /* Naranja */
  margin-bottom: 1rem;
}

.partido-card p {
  font-size: 1rem;
  color: #ffffff; /* Blanco para el texto general */
  margin: 0.5rem 0;
}

.partido-card p strong {
  font-weight: bold;
  color: #ffffff; /* Blanco con negrita para texto destacado */
}

/* Hover en la tarjeta de partido */
.partido-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  background-color: #003b7d; /* Azul aún más oscuro al hacer hover */
  cursor: pointer;
}
